.text-input {
    border-radius: 5px;
    margin: 1%;
    width: 30%;
    height: 25px;
    padding: 5px;
    border: 1px solid white;
    font-family: 'PT Sans', sans-serif;
    font-size: 110%;
}

h2 {
    color: #333;
}

button {
    font-family: 'Ubuntu', sans-serif;
    width: 5%;
    border-radius: 8px;
    border: 1px solid white;
    padding: 4px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgb(168, 168, 168);

}