.main_header {
    font-size: 350%;
    font-family: 'Ubuntu', sans-serif;
}

.instruction {
    margin-top: 3%;
    font-size: 150%;
}


.main_header,
.instruction {
    background: linear-gradient(45deg, rgb(186, 0, 0), rgb(92, 92, 92), rgb(170, 8, 159)) rgb(198, 198, 198);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
}